:root {
  --bg-primary: #FCF9F2;
  --bg-white: #ffffff;
  --color-cta: #E29595;
  --color-cta-hover: #d47d7d;
  --color-secondary: #84A98C;
  --color-text: #353535;
  --color-premium: #D4AF37;
  --color-error: #dc3545;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color: var(--color-text);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
